@model Programatica.AspNetCore31AppSkeleton.ViewModels.UserViewModel

@{
    string on_save_click = Razor.Rnd();
    string form = Razor.Rnd();
}

<div class="modal-header">
    <h5 class="modal-title"><i class="far fa-edit"></i> Create User</h5>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" id="@form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="col-md-12 p-3">
                            <div class="form-group">
                                <label asp-for="Username" class="control-label"></label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fullname" class="control-label"></label>
                                <input asp-for="Fullname" class="form-control" />
                                <span asp-validation-for="Fullname" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<div class="modal-footer">
    <a href="#" class="btn btn-secondary" onclick="layout.show_form('Users', 'Modal', modalsizes.XLARGE)">MODAL</a>
    <a href="#" class="btn btn-secondary" onclick="modal.close(event)">CLOSE</a>
    <a href="#" class="btn btn-primary" onclick="@(on_save_click)(event)" data-loading-text="SAVING...">SAVE</a>
</div>

<script type="text/javascript">

    @on_save_click = (e) => {
        e.preventDefault();

        var url = "@Url.Action("Create", "Users")";
        var data = {
            Username: $("#@form #Username").val(),
            Password: $("#@form #Password").val(),
            Fullname: $("#@form #Fullname").val(),
        };
        var token = global.gettoken();

        global.submit(url, data, token)
            .then((status) => {
                var id = status.id;
                layout.show_users_edit(id);
                layout.refresh_usersgrid();
                modal.close(e);
                global.toastsuccess("Record [" + id + "] created with success!");
            })
            .catch((status) => {
                    var s = JSON.parse(status);
                    global.toasterror(s.message);
            });
    };

</script>