
@model Programatica.AspNetCore31AppSkeleton.ViewModels.UserViewModel

<div class="modal-header">
    <h5 class="modal-title"><i class="far fa-edit"></i> Create User</h5>
</div>

<div class="modal-body">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl lorem, sodales in interdum ut, varius at dolor. Vestibulum commodo, lorem et rutrum rhoncus, nunc sem tincidunt justo, sit amet rhoncus odio leo et nulla. Nullam non quam at ligula suscipit malesuada. Fusce ultrices lectus id sagittis porttitor. Sed non tortor eu justo sagittis auctor. Maecenas blandit tellus in mi eleifend, vitae ornare nisl molestie. Integer aliquet vel leo ut dictum.

    Mauris quam ante, tincidunt at egestas non, faucibus eu erat. Nullam tincidunt feugiat ante id eleifend. Cras at feugiat libero, at porta nulla. Maecenas at eros in est accumsan placerat. Cras nisi nulla, tempor rutrum tempus a, consectetur eget ante. Aenean dignissim molestie nulla, ac posuere lectus lobortis ut. Duis vulputate justo posuere urna iaculis convallis. Sed non mi congue, auctor arcu sed, pretium quam. Maecenas sit amet enim finibus, gravida justo vel, pellentesque diam. Suspendisse nec condimentum magna, ac malesuada mauris. Donec pretium tincidunt velit imperdiet sodales. Duis vulputate ipsum nec porttitor tempor. Donec hendrerit eleifend est sed accumsan. Aenean lobortis imperdiet lectus, sed condimentum sem hendrerit lacinia. Nam pellentesque dui vitae metus blandit suscipit. In sodales, felis sed posuere varius, nisi eros faucibus leo, ut consectetur quam lorem nec sapien.

</div>

<div class="modal-footer">
    <a href="#" class="btn btn-secondary" onclick="users.close_view(event)">CLOSE</a>
    <a href="#" class="btn btn-primary" onclick="" data-loading-text="SAVING...">SAVE</a>
</div>
