@model IEnumerable<User>

@{
    ViewData["Title"] = "USERS PAGE";
}

<nav class="navbar navbar-expand navbar-light bg-light navbar-menu">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a href="#" class="nav-link text-dark" onclick="users.show_create_view()"><i class="fas fa-plus"></i> NEW</a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link text-dark" onclick="users.show_update_view(users.record_id)"><i class="fas fa-edit"></i> UPDATE</a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link text-dark" onclick="users.delete(users.record_id)"><i class="fas fa-trash"></i> DELETE</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark" onclick="users.refresh()"><i class="fas fa-sync-alt"></i> REFRESH</a>
        </li>

        <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link  text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i> NAVIGATION
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#" onclick="audits.show_modelaudit_view(users.record_systemid)"><i class="fas fa-lock"></i> AUDIT</a>
            </div>
        </li>

        <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link  text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i> OPTIONS
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#" onclick="users.show_groups()"><i class="far fa-object-ungroup"></i> TOGGLE GROUP</a>
                <a class="dropdown-item text-dark" href="#" onclick="users.clear_filters()"><i class="fas fa-filter"></i> CLEAR FILTERS</a>
                <a class="dropdown-item text-dark" href="#" onclick="users.clear_search()"><i class="fas fa-search"></i> CLEAR SEARCH</a>
            </div>
        </li>

    </ul>
    <section class="d-none d-md-block">
        <form class="form-inline">
            <input id="txt-search" class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">&nbsp;
            <a href="#" class="btn-link text-dark" onclick="users.search($('#txt-search').val())"><i class="fas fa-search"></i> SEARCH</a>
        </form>
    </section>
</nav>

<ejs-grid id="Grid"
          height="400"
          allowPaging="true"
          allowSorting="true"
          allowFiltering="true"
          allowSelection="true"
          dataBound="users.on_grid_databound"
          recordDoubleClick="users.on_grid_dblclick"
          rowSelected="users.on_grid_click">
    <e-grid-pagesettings pageSizes="true" pageSize="10">
    </e-grid-pagesettings>
    <e-data-manager url="@Url.Action("UrlDatasource", "Users")" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-columns>
        <e-grid-column width="70" field="Id" headerText="ID" isPrimaryKey="true"></e-grid-column>
        <e-grid-column width="200" field="Username" headerText="USERNAME"></e-grid-column>
        <e-grid-column width="200" field="Email" headerText="EMAIL"></e-grid-column>
        <e-grid-column width="200" field="Fullname" headerText="FULLNAME"></e-grid-column>
        <e-grid-column width="120" field="LastModifiedUser" headerText="MODIF. USER"></e-grid-column>
        <e-grid-column width="120" field="LastModifiedDate" headerText="MODIF. DATE" customFormat="@(new { type ="date", format="yyyy-MM-dd HH:mm:ss" })" type="date"></e-grid-column>

    </e-grid-columns>
</ejs-grid>


@section Scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            users.resize();
        });

        $(window).resize(function () {
            users.resize();
        });


    </script>
}





