@model Programatica.AspNetCore31AppSkeleton.ViewModels.LoginViewModel
@using Programatica.Framework.Core.Extensions
@inject Programatica.Framework.Mvc.Adapters.IPageAdapter _page

@{ Layout = ""; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AppSkeleton | Access Deined</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/lib/adminlte/css/adminlte.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- plugins -->
    <link href="~/plugins/toastr/toastr.css" rel="stylesheet" />
    <!-- page -->
    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body class="hold-transition">

    <div class="error-page vertical-center">

        <div class="grid">

            <div class="row mt-1">
                <h1 class="text-danger display-3"><i class="fas fa-ban"></i> Error 403 - Forbidden</h1>
            </div>

            <div class="row mt-1">
                <h3 class="">Oops! It seems you are not authorized to access this page.</h3>
            </div>

            <div class="row mt-1">
                <p class="lead text-justify font-italic">
                    The HTTP 403 is a HTTP status code meaning access to the requested resource is forbidden for some reason. The server understood the request, but will not fulfill it due to client-related issues. IIS defines non standard "sub-status" error codes that provide a more specific reason for responding with the 403 status code.
                </p>
            </div>

            <div class="row mt-1">
                <a asp-controller="Home" asp-action="Index" class="btn btn-default"><i class="fas fa-home"></i> BACK TO HOME</a>
            </div>

        </div>

    </div>


    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/adminlte/js/adminlte.js"></script>
    <!-- plugins -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- site -->
    <script src="~/js/cfg.js"></script>
    <script src="~/js/global.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/site.js"></script>

    <script type="text/javascript">

        var _page = _page || {};

        $(document).ready(function () {

            _page.messages = [];
            _page.warnings = [];
            _page.alerts = [];

            // add messages
            @foreach(var m in _page.PageMessages.OrEmptyIfNull())
            {
                @:_page.messages.push('@m');
            }
            @foreach(var w in _page.PageWarnings.OrEmptyIfNull())
            {
                @:_page.warnings.push('@w');
            }
            @foreach(var a in _page.PageAlerts.OrEmptyIfNull())
            {
                @:_page.alerts.push('@a');
            }

            _page.messages.forEach((m) => { global.toastinfo(m); });
            _page.warnings.forEach((w) => { global.toastwarning(w); });
            _page.alerts.forEach((a) => { global.toasterror(a); });

          });

    </script>

</body>
</html>

