@{ Layout = "~/Views/Shared/AdminLTE/_LayoutEmpty.cshtml"; }


<div class="d-flex justify-content-center bg-gray-light">

    <div class="p-4 col-md-6">

        <p class="text-center text-bold text-lg">
            <i class="fas fa-balance-scale"></i> MIT License<br />
            <span class="text-muted text-sm">Last updated: (add date)</span>
        </p>
        <p>
            Copyright (c) 2020-2021 Rui Ribeiro<br />
        </p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </p>

        <p>
            This is not legal advice.
            <a href="https://docs.github.com/articles/licensing-a-repository/#disclaimer" class="btn btn-link">Learn more about repository licenses</a>
        </p>

        <p>A short and simple permissive license with conditions only requiring preservation of copyright and license notices. Licensed works, modifications, and larger works may be distributed under different terms and without source code.</p>


        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header text-bold">
                        Permissions
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-check text-success"></i> Commercial use</li>
                        <li class="list-group-item"><i class="fa fa-check text-success"></i> Modification</li>
                        <li class="list-group-item"><i class="fa fa-check text-success"></i> Distribution</li>
                        <li class="list-group-item"><i class="fa fa-check text-success"></i> Private use</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header text-bold">
                        Limitations
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-times text-red"></i> Liability</li>
                        <li class="list-group-item"><i class="fa fa-times text-red"></i> Warranty</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header text-bold">
                        Conditions
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-info-circle text-info"></i> License and copyright notice</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="text-center p-3">
            <a asp-controller="Home" asp-action="Index" class="btn btn-link">
                <i class="fas fa-home"></i> Return to homepage
            </a>
        </div>

    </div>

</div>

<partial name="AdminLTE/_FooterEmpty" />