@model LoginViewModel
@inject IAppPageAdapter _page

@{ Layout = "~/Views/Shared/AdminLTE/_LayoutEmpty.cshtml"; }

<div class="login-page">
    <div class="login-box vertical-center">

        <div class="login-logo">
            <img src="~/img/logo.png" width="200" />
            <br />
            <a href="#"><b>App</b>Skeleton</a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-action="Login">

                    <div class="input-group mb-3">
                        <input asp-for="Username" class="form-control" placeholder="Username (type admin)" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Password (type pass)" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="IsPersistent" />
                                <label for="IsPersistent">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block btn-lg" data-loading-text="Signing in...">Sign In</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

    $(document).ready(function () {

        global.toastinfo("@_page.AppVersion");

    });

    </script>

}