@model LoginViewModel
@inject IAppPageAdapter _page

@{ Layout = "~/Views/Shared/AdminLTE/_LayoutEmpty.cshtml"; }

<style>

    .login-box {
        margin: 100px 30px 100px 30px;
        width: 300px !important;
    }
</style>

<div class="d-flex justify-content-center bg-gray-light">
    <div class="login-box">

        <div class="login-logo">
            <i class="fas fa-skull fa-8x"></i>
            <br />
            <a href="#"><b>App</b>Skeleton</a>
            <p class="text-sm text-muted" >[@_page.AppVersion]</p>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-action="Login">

                    <div class="input-group mb-3">
                        <input asp-for="Username" class="form-control" placeholder="Username (type admin)" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Password (type pass)" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="IsPersistent" />
                                <label for="IsPersistent">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block" data-loading-text="Signing in...">Sign In</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<footer class="text-center text-lg-start text-muted">


    <section class="border-top">
        <div class="container text-center text-md-start mt-5">

            <div class="row mt-3">

                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-4">

                    <h6 class=" fw-bold mb-4">
                        <i class="fas fa-skull fa-1x me-3"></i>&nbsp; <a href="#"><b>App</b>Skeleton</a>
                    </h6>
                    <p>
                        A solid skeleton for building out real features <br />with asp.net core, adminlte, repository pattern,<br />
                        entity-framework migrations and syncfusion components.
                    </p>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-4">
                    <h6 class=" fw-bold mb-4">
                        <i class="fas fa-user fa-1x me-3"></i>&nbsp; <a href="#">About me</a>
                    </h6>
                    <p>
                        My name is Rui Alex Ribeiro.<br />Im a software developer that works with Microsoft technologies.<br />
                        and Someone Who Lo❤️es to Code.
                    </p>
                </div>

            </div>

        </div>

    </section>


    <div class="text-center p-2">
        <a href="https://github.com/ruialexrib"><i class="fab fa-github fa-1x"></i></a>&nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/ruialexrib/"><i class="fab fa-linkedin fa-1x"></i></a>&nbsp;&nbsp;&nbsp;
        <a href="http://ruialexrib.ddns.net"><i class="fab fa-wordpress fa-1x"></i></a>&nbsp;&nbsp;&nbsp;
        <a href="ruialexrib@gmail.com"><i class="fas fa-envelope fa-1x"></i></a>
    </div>

    <div class="text-center p-2">
        Copyright &copy; 2020 <a href="https://github.com/ruialexrib">ruialexrib</a>. All rights reserved.
    </div>

</footer>


@section Scripts {

    <script type="text/javascript">

    $(document).ready(function () {
        global.toastinfo("@_page.AppVersion");
    });

    </script>

}