@model LoginViewModel
@inject IAppPageAdapter _page

@{ Layout = "~/Views/Shared/AdminLTE/_LayoutEmpty.cshtml"; }

@{
    string div_loading = Razor.GenerateElementId("div_loading");
}

<div id="@div_loading" class="text-cmp text-center div_overlay" style='display:none;'></div>

<div class="d-flex justify-content-center bg-gray-light">
    <div class="appsklt-override login-box">

        <div class="login-logo p-3">
            <i class="fas fa-skull fa-6x"></i>
            <br />
            <b>App</b>Skeleton
            <p class="text-sm text-muted">version @_page.AppVersion</p>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-action="Login">

                    <div class="input-group mb-3">
                        <input asp-for="Username" class="form-control" placeholder="Username (type admin)" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Password (type pass)" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="IsPersistent" />
                                <label for="IsPersistent" class="text-sm">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="submit"
                                    class="btn btn-primary btn-block"
                                    data-loading-text="Signing in..."
                                    onclick="layout.show_loading(true);">
                                Sign In
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

        <div class="text-center p-4">
            <div class="row">
                <div class="col-12">
                    <a asp-controller="Account" asp-action="TermsOfUse">
                        <i class="fas fa-balance-scale"></i> Terms and conditions
                    </a>
                    <br />
                    <span class="text-xs text-muted">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</span>
                </div>
            </div>
        </div>

    </div>
</div>

<partial name="AdminLTE/_FooterEmpty" />

@section Scripts {

    <script type="text/javascript">

    $(document).ready(function () {
        @*global.toastinfo("@_page.AppVersion");*@
    });

    </script>

}

<!-- layout generic view scripts -->
<script type="text/javascript">
    var layout = layout || {};
        layout.modal = (controller, action, params, modalsize) => {
            var url = "@Url.Content("~/")" + controller + "/" + action;
            if (params) {
                url = url + "?" + params;
            }
            modal.show(url, modalsize)
                .then((h) => {
                })
                .catch((e) => {
                    global.toasterror(e);
                });
        };

        layout.show_loading = (value) => {
            if (value == true) {
                $('#@div_loading').show();
            } else {
                $('#@div_loading').hide();
            }
        }
</script>