@model LoginViewModel
@inject IAppPageAdapter _page

@{ Layout = "~/Views/Shared/AdminLTE/_LayoutEmpty.cshtml"; }

<style>

    .login-box {
        margin: 100px 30px 100px 30px;
        width: 300px !important;
    }
</style>

<div class="d-flex justify-content-center bg-gray-light">
    <div class="login-box">

        <div class="login-logo p-3">
            <i class="fas fa-skull fa-6x"></i>
            <br />
            <a href="#"><b>App</b>Skeleton</a>
            <p class="text-sm text-muted">[@_page.AppVersion]</p>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-action="Login">

                    <div class="input-group mb-3">
                        <input asp-for="Username" class="form-control" placeholder="Username (type admin)" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Password (type pass)" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="IsPersistent" />
                                <label for="IsPersistent">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block" data-loading-text="Signing in...">Sign In</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<footer class="text-center text-lg-start text-muted bg-dark">

    <section class="border-top">
        <div class="container text-center text-md-start mt-5">

            <div class="col-10 col-md-4 col-lg-4 mx-auto mb-md-0 mb-4">
                <h5 class=" fw-bold mb-4">
                    <i class="fas fa-skull fa-1x me-3"></i>&nbsp;<b>App</b>Skeleton
                </h5>
                <p>
                    A solid skeleton template for building real applications with asp.net core, adminlte, repository pattern,
                    entity-framework, migrations and syncfusion components.<br />                    
                </p>

                Licensed under the <a href="https://github.com/ruialexrib/Programatica.AspNetCore31AppSkeleton/blob/main/LICENSE">
                    MIT License
                </a>

            </div>

        </div>
    </section>
    <section>
        <div class="text-center p-3">
            Copyright &copy; 2020-2021 <a href="https://github.com/ruialexrib">ruialexrib</a>. All rights reserved.
        </div>

        <div class="text-center p-1">
            <a href="https://github.com/ruialexrib"><i class="fab fa-github fa-1x"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/ruialexrib/"><i class="fab fa-linkedin fa-1x"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="http://ruialexrib.ddns.net"><i class="fab fa-wordpress fa-1x"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="ruialexrib@gmail.com"><i class="fas fa-envelope fa-1x"></i></a>
        </div>
    </section>
</footer>


@section Scripts {

    <script type="text/javascript">

    $(document).ready(function () {
        global.toastinfo("@_page.AppVersion");
    });

    </script>

}