@{
    ViewData["Title"] = "Credits";
}

<p>I would like to acknowlede and give the proper credits to the following projects included in this repository </p>
<br />

<ul>
    <li><a href="https://github.com/dotnet/aspnetcore">ASP.NET Core </a></li>
    <li><a href="https://github.com/dotnet/efcore">Entity Framework Core </a></li>
    <li><a href="https://automapper.org">AutoMapper </a></li>
    <li><a href="https://adminlte.io">Alexander Pierce AdminLTE 3 - Admin Panel </a></li>
    <li><a href="https://www.syncfusion.com">Syncfusion Essential Studio Enterprise Edition - Community license</a></li>
    <li><a href="https://www.manypixels.co/gallery/">Manypixels royalty-free illustrations</a></li>
</ul>

