@inject IAppPageAdapter _page

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            global.toastinfo("Database ConnectionString:<br>@_page.ConnectionString");
        });

    </script>
}
