@model UserRolesByUserViewModel

@{
    string on_close_click = Razor.Rnd();
    string grid = Razor.Rnd();

    string user_id = Razor.Rnd();
}

<div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-table"></i> User Roles </h5>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12 p-3">

            <nav class="navbar navbar-expand navbar-light bg-light navbar-menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a href="#" class="nav-link text-dark" onclick="layout.show_form('UserRoles','Create', modalsizes.SMALL,'userId', @(user_id))"><i class="fas fa-plus"></i> NEW</a>
                    </li>
                </ul>
            </nav>

            <ejs-grid id="@grid"
                      width="auto"
                      dataSource="@Model.ListOfUserRoleViewModel"
                      allowPaging="false"
                      allowSorting="true"
                      allowFiltering="true">
                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                <e-grid-columns>
                    <e-grid-column width="70" field="Id" headerText="ID" isPrimaryKey="true"></e-grid-column>
                    <e-grid-column field="RoleName" headerText="ROLE"></e-grid-column>
                    <e-grid-column field="Comments" headerText="COMMENTS"></e-grid-column>

                </e-grid-columns>
            </ejs-grid>

        </div>
    </div>

</div>

<div class="modal-footer">
    <a href="#" class="btn btn-secondary" onclick="modal.close(event)">CLOSE</a>
</div>

<script type="text/javascript">

    @user_id = @(Model.UserId);

</script>

<ejs-scripts></ejs-scripts>