  <!-- Main Footer -->
<footer class="main-footer fixed-bottom">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <i class="fab fa-github"></i>&nbsp;<a href="https://github.com/ruialexrib/Programatica.AspNetCore31AppSkeleton">Source code</a>
    </div>
    <!-- Default to the left -->
    Copyright &copy; 2020 <a href="https://github.com/ruialexrib">ruialexrib</a>. All rights reserved.
</footer>