@inject IAppPageAdapter _page
    <!-- Main Footer -->
<footer class="main-footer fixed-bottom">
    <!-- To the right -->
    <div class="float-right text-sm text-muted">
        <i class="fas fa-code-branch"></i>&nbsp;version&nbsp;@_page.AppVersion&nbsp;·&nbsp;<a href="#">Release notes</a>
    </div>
    <!-- Default to the left -->
    <span class="text-sm text-muted">
        <i class="far fa-clock"></i>&nbsp;Page generated in @_page.ElapsedTime miliseconds.
    </span>
</footer>