@inject IAppPageAdapter _page
    <!-- Main Footer -->
<footer class="main-footer fixed-bottom">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline text-sm">
        <i class="fas fa-code-branch"></i>&nbsp;<a href="#">@_page.AppVersion</a>
    </div>
    <!-- Default to the left -->
    <span class="text-sm text-muted">
        Page generated in @_page.ElapsedTime miliseconds.
    </span>
</footer>