<style>
    footer a:link, a:visited, a:active {
        color: #c2c7d0;
    }
</style>

<footer class="text-center text-lg-start text-muted bg-dark">

    <section class="border-top">
        <div class="container text-center text-md-start mt-5">

            <div class="col-10 col-md-4 col-lg-4 mx-auto mb-md-0 mb-4">
                <h5 class=" fw-bold mb-4">
                    <i class="fas fa-skull fa-1x me-3"></i>&nbsp;<b>App</b>Skeleton
                </h5>
                <p>
                    A <i>ready to use</i> template for building real applications with asp.net core, adminlte, repository pattern,
                    entity-framework, migrations and syncfusion components.<br />
                </p>

                Licensed under the <a href="https://github.com/ruialexrib/Programatica.AspNetCore31AppSkeleton/blob/main/LICENSE">
                    MIT License
                </a>

            </div>

        </div>
    </section>
    <section>
        <div class="text-center p-3">
            Copyright &copy; 2020-2021 <a href="https://github.com/ruialexrib">ruialexrib</a>. All rights reserved.
        </div>

        <div class="text-center p-1">
            <a href="https://github.com/ruialexrib"><i class="fab fa-github fa-1x"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/ruialexrib/"><i class="fab fa-linkedin fa-1x"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="http://ruialexrib.ddns.net"><i class="fab fa-wordpress fa-1x"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="ruialexrib@gmail.com"><i class="fas fa-envelope fa-1x"></i></a>
        </div>
    </section>
</footer>
