<div id="modal-container" class="modal fade" role="dialog" data-backdrop="static">
    <div id="modal-dialog" class='modal-dialog'>
        <div id="modal-content" class="modal-content"></div>
    </div>
</div>